/* src/components/Carousel.css */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.navigation button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffcb05;
    color: #2a75bb;
}
